<!DOCTYPE html>
<head>
  <script type="text/javascript">
  
    if (screen.width <= 899) {
      alert('mobile');
      document.location = "mobile.html";
    }
  
  </script> 

  <title>Curtain Reveal</title>
  <meta name="viewport" content="minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  
  <link rel="shortcut icon" href="favicon.png"  />

  <link rel="stylesheet" type="text/css" href="/public/css/custom.css">
</head>

<!-- <div class="info" id="position">0</div>
<div class="info" id="height"></div> -->