<div id='show-navbar'><img src="/public/images/icons/menu_darkGray_64.png"></div>
<div class="navbar">
    <div class="nav">
      <ul>
        <li class="nav-li active"><a href="#home">Home</a></li>
        <li class="nav-li"><a href="#studio">Studio</a></li>
        <li class="nav-li"><a href="#gear">Gear</a></li>
        <li class="nav-li"><a href="#live">Live</a></li>
        <li class="nav-li"><a href="#about">About</a></li>
        <li class="nav-li"><a href="#contact">Contact</a></li>
      </ul>
    </div>
</div>