<div class="sidebar">
<div class="nav">
  <ul>
    <li class="nav-li active" id="1"><a href="#home">H</a></li>
    <li class="nav-li" id="2"><a href="#recording">R</a></li>
    <li class="nav-li" id="3"><a href="#mixing">M</a></li>
    <li class="nav-li" id="4"><a href="#gear">G</a></li>
    <li class="nav-li" id="5"><a href="#rehearsals">R</a></li>
    <li class="nav-li" id="6"><a href="#rental">R</a></li>
    <li class="nav-li" id="7"><a href="#webcasts">W</a></li>
    <li class="nav-li" id="8"><a href="#blog">B</a></li>
    <li class="nav-li" id="9"><a href="#about">A</a></li>
    <li class="nav-li" id="10"><a href="#contact">C</a></li>
  </ul>
</div>
<div class="nav-popup" id="nav-pointer">Menu</div>
<div class="nav-popup" id="popup-1">Home</div>
<div class="nav-popup" id="popup-2">Recording</div>
<div class="nav-popup" id="popup-3">Mixing</div>
<div class="nav-popup" id="popup-4">Gear</div>
<div class="nav-popup" id="popup-5">Rehearsals</div>
<div class="nav-popup" id="popup-6">Rental</div>
<div class="nav-popup" id="popup-7">Webcasts</div>
<div class="nav-popup" id="popup-8">Blog</div>
<div class="nav-popup" id="popup-9">About</div>
<div class="nav-popup" id="popup-10">Contact</div>
</div>