@charset "UTF-8";
/*
	HTML5 ✰ Boilerplate

	style.css contains a reset, font normalization and some base styles.

	credit is left where credit is due.
	much inspiration was taken from these projects:
		yui.yahooapis.com/2.8.1/build/base/base.css
		camendesign.com/design/
		praegnanz.de/weblog/htmlcssjs-kickstart
*/
/*
	html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
	v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
	html5doctor.com/html-5-reset-stylesheet/
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* END RESET CSS */
/* font normalization inspired by  from the YUI Library's fonts.css: developer.yahoo.com/yui/ */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

/* hack retained to preserve specificity */
select, input, textarea, button {
  font: 99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/*
 * minimal base styles
 */
body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */ }

/* headers (h1,h2,etc) have no default font-size or margin. define those yourself. */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

/* always force a scrollbar in non-IE: */
html {
  overflow-y: scroll; }

/* accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

/* remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

/* set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

/* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate.
	 No text-shadow: twitter.com/miketaylr/status/12228805301
	 Also: blue. */
::-moz-selection {
  background: #6FF4FF;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #6FF4FF;
  color: #fff;
  text-shadow: none; }

/*  j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #6FF4FF; }

/* make buttons play nice in IE:
	 www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG:
	 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

body {
  font-family: arial, 'sans-serif'; }

.hidden {
  display: none; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.info {
  color: white;
  font-size: 50px;
  z-index: 10000;
  position: fixed; }

.navbar {
  position: fixed;
  z-index: 999;
  right: 2%;
  top: 30%; }
  .navbar ul {
    list-style: none; }
  .navbar .nav-li {
    margin-top: 10px;
    text-align: center;
    border: 1px solid #111111;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: url(../images/patterns/semi_transparent_80.png); }
    .navbar .nav-li a {
      margin: 2px 1px 0 0;
      color: transparent;
      text-decoration: none;
      display: block; }
  .navbar .active {
    border: 1px solid #6ff4ff;
    background: url(../images/patterns/semi_transparent_black_60.png); }
    .navbar .active a {
      color: transparent; }
  .navbar .nav-popup {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    right: 35px;
    display: none;
    position: absolute;
    color: #111111;
    background: url(../images/patterns/semi_transparent_80.png);
    padding: 12px;
    font-size: 1.5em;
    white-space: nowrap; }
  .navbar .nav-popup:after, .navbar .nav-popup:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .navbar .nav-popup:after {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: white;
    opacity: 0.55;
    border-width: 9px;
    margin-top: -9px; }
  .navbar .nav-popup:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: white;
    opacity: 0.55;
    border-width: 10px;
    margin-top: -10px; }
  .navbar #nav-pointer {
    font-size: 2em;
    top: 50px;
    right: 50px; }
  .navbar #popup-1 {
    top: -5px; }
  .navbar #popup-2 {
    top: 25px; }
  .navbar #popup-3 {
    top: 55px; }
  .navbar #popup-4 {
    top: 85px; }
  .navbar #popup-5 {
    top: 115px; }
  .navbar #popup-6 {
    top: 145px; }
  .navbar #popup-7 {
    top: 175px; }
  .navbar #popup-8 {
    top: 205px; }
  .navbar #popup-9 {
    top: 235px; }
  .navbar #popup-10 {
    top: 265px; }

.page {
  width: 100%;
  padding-bottom: 50%; }

.content {
  background: url(../images/patterns/semi_transparent_80.png);
  font-size: 1.5em;
  color: #111111;
  margin: 0 auto;
  height: 50%; }
  .content p {
    margin-bottom: 10px; }

.divider {
  margin: 0 auto; }
  .divider h1 {
    text-align: center;
    color: #aaaaaa;
    background: url(../images/patterns/semi_transparent_black_80.png);
    font-size: 4em;
    text-shadow: #555555 1px 1px 0px; }

.close {
  position: absolute;
  right: 5px;
  font-size: 1em;
  float: right;
  color: #111111;
  cursor: pointer; }
  .close:hover {
    color: #914141;
    font-size: 1.3em;
    text-shadow: #660000 1px 1px 0px; }

.mobile-img {
  display: none; }

#home {
  background: url(../images/landscape/secret_garden_1098.png) no-repeat center center fixed;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10%; }
  #home h1 {
    width: 80%;
    margin: 0 auto;
    background: url(../images/patterns/semi_transparent_black_80.png);
    text-shadow: #555555 1px 1px 0px;
    color: white;
    opacity: 0.8;
    text-align: center;
    font-size: 15em;
    padding: 5%;
    line-height: 0.9em;
    letter-spacing: -2px; }

#studio-page {
  background: url(../images/patterns/semi_transparent_black_80.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#gear-page {
  background: url(../images/patterns/semi_transparent_black_80.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#live-page {
  background: url(../images/patterns/semi_transparent_black_80.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#about-page {
  background: url(../images/patterns/semi_transparent_black_80.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#contact-page {
  background: url(../images/patterns/semi_transparent_black_80.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media only screen and (min-device-width: 700px) and (max-width: 59.999em) {
  body {
    font-size: 1.4vw; }

  .content {
    width: 100%;
    padding: 10px 10% 10px 10%; } }
@media only screen and (min-device-width: 700px) and (min-width: 60em) {
  body {
    font-size: 1.1vw; }

  .content {
    width: 50%;
    padding: 10px 20% 10px 20%; } }
