@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin rounded($radius: 0.4em) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
border-radius: $radius;
}

@mixin rounded_top($radius: 0.4em) {
-webkit-border-radius: $radius $radius 0 0;
-moz-border-radius: $radius $radius 0 0;
border-radius: $radius $radius 0 0;
}

@mixin backgroundSize {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
$lightGray: #aaa;
$mediumGray: #555;
$darkGray: #333;

$highlight: #FFEC6C;



*, *:before, *:after {@include box_sizing;}

html, body{height:100%;}

.info {
  color: white;
  font-size: 50px;
  z-index: 10000;
  position: fixed;
}
#position{top:0;}
#height{top: 55px;}
//phones
@media only screen and (min-width: 100px) and (max-device-width: 700px) {
  html {
    -ms-touch-action: none;
  }

  body {
    overflow: hidden; /* this is important to prevent the whole page to bounce */
  }

  #wrapper {
    position: absolute;
    z-index: 5000;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  #scroller{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    width: 100%;
    height: 15000px;
    overflow: hidden;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
  }

  .page {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    div {
      position: absolute;
      width: 100%;
      overflow: hidden;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
    }
  }


  #show-navbar {
    z-index: 10002;
    position: fixed;
    background-color: #FFEC6C;
    padding: 2px;
    top: 10px;
    right: 10px;
    width:10%;
    display: inline;
    img {
      width: 100%;
    }
  }
  .navbar {
    background-color: #FFEC6C;
    display: none;
    position: fixed;
    z-index: 10001;
    right: 0;
    top: 0;
    height: 100%;
    width: 60%;
    .nav {
      height: 60%;
      width: 90%;
      margin: 0 auto;
      margin-top: 30%;

      ul {
        list-style: none;
      }
    }

    .nav-li {
      width: 100%;
      // text-align: center;
      border: 1px solid #555;
      cursor: pointer;
      margin-top: 10px;
      height: 60px;
      // @include rounded(50%);
      background-color: #ddd;
      a {
        height: 100%;
        // margin: 2px 1px 0 0;
        color: transparent;
        text-decoration: none;
        display: block;
        cursor: pointer;
      }
    }

    .active {
      border: 1px solid #FFEC6C;
        background-color: #444; 
      a {
        color: transparent;
      }
    }

    
    .nav-popup {
      z-index: 1001;
      position: fixed;
      margin-top: 10px;
      font-size: 4em;
      left: 455px;
      cursor: pointer;
      // top: 10px;
      // display: block;    
    }
    #nav-pointer {top: 90px;}
    #popup-1 {top: 165px;cursor: pointer;}
    #popup-2 {top: 235px;cursor: pointer;}
    #popup-3 {top: 305px;cursor: pointer;}
    #popup-4 {top: 375px;cursor: pointer;}
    #popup-5 {top: 445px;cursor: pointer;}
    #popup-6 {top: 515px;cursor: pointer;}
    #popup-7 {top: 585px;cursor: pointer;}
    #popup-8 {top: 655px;cursor: pointer;}
    #popup-9 {top: 725px;cursor: pointer;}
    #popup-10 {top: 795px;cursor: pointer;}
  }

  .content {
    position: fixed;
    padding-top: 100px;
    width: 150px;
    height: 100%;
    z-index: 100;
    // top: 1800px;
    font-size: 4em;
    // text-align: justify;
    color: #444;
    // width: 50px;
    // margin: 0 auto;
    // padding-top: 10%;
    // margin-left: 10%;
    // height: 150%;
    // overflow: scroll;
    p {
      padding-top: 20px;
    }
  }

  .content-spacer {display: none;}

  .content-background {
    // @include rounded;
    padding: 10px;
    // height: 100%;
    // width: 100%;
    // opacity: 0.7;
    background: url(../images/patterns/semi_transparent_50.png);
    // background-color: white;
  }

  .divider {
    // display: none;
    position: fixed;
    width: 100%;
    color: #888;
    background-color: #333;
    padding: 5px 0 5px 0;
    font-size: 7em;
    text-align: center;
    text-shadow: #555 1px 1px 0px;
  }

  #recording {
    z-index: 11; 
    top: 1800px;
  }

  #mixing {
    z-index: 10; 
    top: 1800px;
  }

  #gear {
    z-index: 9; 
    top: 1800px;
  }

  #rehearsals {
    z-index: 8; 
    top: 1800px;
  }

  #rental {
    z-index: 7; 
    top: 1800px;
  }

  #webcasts {
    z-index: 6; 
    top: 1800px;
  }

  #blog {
    z-index: 5; 
    top: 1800px;
  }

  #about {
    z-index: 4; 
    top: 1800px;
  }

  #contact {
    z-index: 3; 
    top: 1800px;
  }



  #home {
    position: fixed;
    z-index: 10;
    // max-width: 100%;
    // height: 100px;
    // height: 400px;
    color: #ddd;
    // overflow: hidden;
    background: url(../images/home/home_portrait.png) no-repeat; 
    @include backgroundSize;
    h1 { 
      text-align: center;
      font-size: 20em;
      padding: 2%;
      line-height: 0.9em;
      letter-spacing: -10px;
    }
  }

  #recording-page {
    position: fixed;
    top: 0;
    z-index: 9;
    // overflow: hidden;
    background: url(../images/placeholder/fader_portrait.png) no-repeat; 
    @include backgroundSize;

  }

  #mixing-page {
    position: fixed;
    top: 0;
    z-index: 8;
    background: url(../images/placeholder/dash_portrait.png) no-repeat; 
    @include backgroundSize;
  }

  #gear-page {
    position: fixed;
    top: 0;
    z-index: 7; 
    background: url(../images/placeholder/silver_mic_portrait.png) no-repeat; 
    @include backgroundSize;
  }

  #rehearsals-page {
    position: fixed;
    top: 0;
    z-index: 6;
    background: url(../images/placeholder/concert_portrait.png) no-repeat; 
    @include backgroundSize;
  }

  #rental-page {
    position: fixed;
    top: 0;
    z-index: 5;
    background: url(../images/placeholder/lights_portrait.png) no-repeat; 
    @include backgroundSize;
  }

  #webcasts-page {
    position: fixed;
    top: 0;
    z-index: 4;
    background: url(../images/placeholder/banjo_guy_portrait.png) no-repeat; 
    @include backgroundSize;
  }

  #blog-page {
    position: fixed;
    top: 0;
    z-index: 3;
    background: url(../images/placeholder/dash_portrait.png) no-repeat; 
    @include backgroundSize;  
  }

  #about-page {
    position: fixed;
    top: 0;
    z-index: 2;
    background: url(../images/placeholder/sputnik_portrait.png) no-repeat; 
    @include backgroundSize;
  }

  #contact-page {
    position: fixed;
    top: 0;
    z-index: 1;
    background: url(../images/placeholder/steering_wheel_portrait.png) no-repeat; 
    @include backgroundSize;  
  }
}

//medium screens
@media only screen and (min-device-width: 700px) and (max-width: 50.699em) {
  #show-navbar {display: none;}
  .navbar {
    position: fixed;
    z-index: 999;
    right: 1%;
    top: 30%;
    ul {
      list-style: none;
    }

    .nav-li {
      margin-top: 10px;
      text-align: center;
      border: 1px solid #555;
      cursor: pointer;
      width: 20px;
      height: 20px;
      @include rounded(50%);
      background-color: #ddd;
      a {
        margin: 2px 1px 0 0;
        color: transparent;
        text-decoration: none;
        display: block;
      }
    }

    .active {
      border: 1px solid #FFEC6C;
        background-color: #444; 
      a {
        color: transparent;
      }
    }

    
    .nav-popup {
      @include rounded(0.2em);
      right: 35px;
      display: none;
      position: absolute;
      background: #ddd;
      padding: 12px;
      font-size: 1.5em;
      border: 1px solid #555;
    }
    
    .nav-popup:after, .nav-popup:before {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    .nav-popup:after {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: #ddd;
      border-width: 9px;
      margin-top: -9px;
    }

    .nav-popup:before {
      border-color: rgba(194, 225, 245, 0);
      border-left-color: #555;
      border-width: 10px;
      margin-top: -10px;
    }

    #nav-pointer {
      font-size: 2em;
      top: 50px;
      right: 50px;
    }

    #popup-1 {top: -5px;}
    #popup-2 {top: 25px;}
    #popup-3 {top: 55px;}
    #popup-4 {top: 85px;}
    #popup-5 {top: 115px;}
    #popup-6 {top: 145px;}
    #popup-7 {top: 175px;}
    #popup-8 {top: 205px;}
    #popup-9 {top: 235px;}
    #popup-10 {top: 265px;}
  }

  .page {
    width: 100%;
    height: 150%;
  }

  .content {
    font-size: 1.5em;
    text-align: justify;
    color: #ddd;
    width: 20%;
    // padding-top: 10%;
    // margin-left: 10%;
    height: 100%;
    p {
      padding-top: 20px;
    }
  }
  .content-background {
    // @include rounded;
    padding: 10px;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background: url(../images/patterns/semi_transparent_background.png);
  }

  .divider {
    color: #888;
    background-color: #333;
    padding: 5px 0 5px 0;
    font-size: 6em;
    text-align: center;
    text-shadow: #555 1px 1px 0px;
  }

  #home {
    color: #ddd;
    background: url(../images/placeholder/sound_farm_1_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
    h1 { 
      text-align: center;
      font-size: 20em;
      padding: 2%;
      line-height: 0.9em;
      letter-spacing: -10px;
    }
  }

  #recording-page {
    // margin-top: 0;
    background: url(../images/placeholder/fader_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
    // .content {
    //   margin-left: 65%;
    // }
  }

  #mixing-page {
    background: url(../images/placeholder/dash_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #gear-page {
    background: url(../images/placeholder/silver_mic_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #rehearsals-page {
    background: url(../images/placeholder/concert_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #rental-page {
    background: url(../images/placeholder/lights_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #webcasts-page {
    background: url(../images/placeholder/banjo_guy_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
    // .content {
    //   margin-left: 65%;
    // }
  }

  #blog-page {
    background: url(../images/placeholder/dash_1300.png) no-repeat center center fixed; 
    @include backgroundSize;  
  }

  #about-page {
    background: url(../images/placeholder/sputnik_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #contact-page {
    background: url(../images/placeholder/steering_wheel_1300.png) no-repeat center center fixed; 
    @include backgroundSize;  
  }
}

//large screens
@media only screen and (min-device-width: 700px) and (min-width: 60em) {
  #show-navbar {display: none;}
  .navbar {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 30px;
    background: url(../images/patterns/semi_transparent_50.png);
    // background-color: $darkGray;

    // box-shadow: 0px 0px 2px 0px $mediumGray;
    ul {
      float: right;
      list-style: none;
    }

    .nav-li {
      font-size: 1.2em;
      display: inline-block;
      margin: 2px 10px 0 0;
      padding: 1px;
      text-align: center;
      cursor: pointer;
      a {
        margin: 2px 1px 0 0;
        color: $mediumGray;
        text-decoration: none;
        display: block;
      }
    }

    .active {
      border: 1px solid $highlight;
      // background-color: $darkGray; 
      @include rounded(0.1em);
      a {
        color: $darkGray;
      }
    }
  }

  .page {
    width: 100%;
    height: 150%;
  }

  .content {
    font-size: 2em;
    text-align: justify;
    color: $darkGray;
    width: 100%;
    margin: 0 auto;
    // margin-top: 5%;
    // background-color: transparent;
    // padding-top: 10%;
    // margin-left: 10%;
    // height: 100%;
    p {
      // padding-top: 20px;
    }
  }

  .content-spacer {height: 0px; width: 100%;}

  .content-background {
    // @include rounded;
    padding: 10px 10% 10px 10%;
    height: 100%;
    width: 100%;
    background: url(../images/patterns/semi_transparent_50.png);
  }

  .divider {
    color: $lightGray;
    background-color: $darkGray;
    padding: 15px 0 15px 0;
    font-size: 6em;
    text-align: center;
    text-shadow: $mediumGray 1px 1px 0px;
  }

  #home {
    color: $lightGray;
    background: url(../images/home/home_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
    h1 { 
      text-align: center;
      font-size: 20em;
      padding: 5%;
      line-height: 0.9em;
      letter-spacing: -10px;
    }
  }

  #recording-page {
    // margin-top: 0;
    background: url(../images/placeholder/fader_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
    // .content {
    //   margin-left: 65%;
    // }
  }

  #mixing-page {
    background: url(../images/placeholder/dash_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #gear-page {
    background: url(../images/placeholder/silver_mic_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #rehearsals-page {
    background: url(../images/placeholder/concert_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #rental-page {
    background: url(../images/placeholder/lights_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #webcasts-page {
    background: url(../images/placeholder/banjo_guy_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
    // .content {
    //   margin-left: 65%;
    // }
  }

  #blog-page {
    background: url(../images/placeholder/dash_1300.png) no-repeat center center fixed; 
    @include backgroundSize;  
  }

  #about-page {
    background: url(../images/placeholder/sputnik_1300.png) no-repeat center center fixed; 
    @include backgroundSize;
  }

  #contact-page {
    background: url(../images/placeholder/steering_wheel_1300.png) no-repeat center center fixed; 
    @include backgroundSize;  
  }
}