<div class="page lazy" id="gear-page" data-large="/public/images/large/mics_1920.png" data-small="/public/images/small/mics_960.png">
  <div class="divider" id="gear">
    <div class='content-spacer'></div>
    <h1>Gear</h1>
  </div>
  <div class="wrapper">
    <div class="row">
      <div class='col-1'>  
        <div class="content-background">
          <div class="content" id="gear-content">
            <p>
              Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price.
            </p>
            <h3 id="show-gear-list">Click to check out our gear.</h3>
          </div> 
        </div>
      </div>  
    </div>
  </div>


  <!--#include virtual="/partials/pages/gear_list.html" -->
  <div class="mobile-img" id="gear-mobile-img"><img></div>
</div>