<div id="gear-list" class="wrapper">
  <div class="row">
    <div class='col-1'> 
      <span class="close">x</span>
      <h1>Gear List</h1>

      <div class="gear-category"> 
        <h2>Microphones</h2>
        <ul>
          <li>Nuemann U87</li>
          <li>AKG 414 ULS (2)</li>
          <li>Beyerdynamic m160 (2)</li>
          <li>Royer 121</li>
          <li>AT 4050</li>
          <li>Beyerdynamic m201</li>
          <li>Sennheiser MD421 (2)</li>
          <li>EV RE20</li>
          <li>Audix D6</li>
          <li>Yamaha Sub Kick</li>
          <li>Shure SM7B</li>
          <li>RE20</li>
          <li>Sennheiser e604 (3)</li>
          <li>Earthworks SR40V</li>
          <li>BLUE Blueberry</li>
          <li>BLUE Bluebird</li>
          <li>SM57 (4)</li>
          <li>SM58 (2)</li>
          <li>Blue Encore 200 (2)</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>Preamps</h2>
        <ul>
          <li>Neve 1073 (2)</li>
          <li>API 512 (2)</li>
          <li>Grace 501 (2)</li>
          <li>AEA RPQ (2)</li>
          <li>Audient (8)</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>Outboard FX</h2>
        <ul>
          <li>SSL G Comp</li>
          <li>Distressor w/ Brit Mod</li>
          <li>API 550A EQ</li>
          <li>API 550B EQ</li>
          <li>API 565 EQ</li>
          <li>DBX 160XT</li>
          <li>Cranesong Falcon</li>
          <li>DerrEsser</li>
          <li>Lindell 7x500</li>
          <li>Moog Analog Delay</li>
          <li>Lexicon PCM 42</li>
          <li>PMPalmer PDI-3</li>
          <li>Yamaha SPX90</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>Monitors</h2>
        <ul>
          <li>Focal Solo 6be</li>
          <li>Focal CMS 50</li>
          <li>Avatone MixCubes</li>
          <li>I/O</li>
          <li>Dangerous D-Box</li>
          <li>Lynx Aurora 8</li>
          <li>Audient</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>Computers</h2>
        <ul>
          <li>2.8 GHz 8-core Mac with 28gigs of ram</li>
          <li>27" Cinema Display</li>
          <li>Apple 2012 Macbook Pro</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>Software</h2>
        <ul>
          <li>Pro Tools 10</li>
          <li>Logic X</li>
          <li>Logic 9</li>
          <li>Plugins by Waves, Voxengo, PSP &amp; more</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>Instruments</h2>
        <ul>
          <li>Fender American Strat (2)</li>
          <li>Fender American Deluxe P-Bass</li>
          <li>Gibson Les Paul Studio</li>
          <li>Martin D-35</li>
          <li>Fender Rhodes</li>
          <li>Yamaha P105</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>Amps &amp; Cabs</h2>
        <ul>
          <li>Ampeg SVT-CL</li>
          <li>Ampeg 4x10 HFL</li>
          <li>Orange Tiny Terror</li>
          <li>Orange 2x12 Cab</li>
          <li>Mesa Rivera</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>Drums</h2>
        <ul>
          <li>DW Performance Drum Kit w/ 14" Snare"</li>
          <li>Ludwig Black Beauty Supraphonic 14x6.5</li>
          <li>Zildjian 19" K Custom Hybrid Crash</li>
          <li>Zildjian 19" A Custom Crash</li>
          <li>Zildjian 21" A Sweet Ride</li>
          <li>Zildjian 14" New Beat hats"</li>
        </ul>
      </div>

      <div class="gear-category">
        <h2>For live / rehearsal</h2>
        <ul>
          <li>Shure PSM In Ears (2)</li>
          <li>Yamaha EMX 5000</li>
          <li>JBL PA Speakers</li>
        </ul>
      </div>
    </div>
  </div>
</div>    