<div class="page" id="home">
  <!-- <div id="menu">  
    <ul>
      <li><a href="#recording">Recording</a></li> |
      <li><a href="#mixing">Mixing</a></li> |
      <li><a href="#gear">Gear</a></li> |
      <li><a href="#rehearsals">Rehearsals</a></li> |
      <li><a href="#rental">Rental</a></li> |
      <li><a href="#webcasts">Webcasts</a></li> |
      <li><a href="#blog">Blog</a></li> |
      <li><a href="#about">About</a></li> |
      <li><a href="#contact">Contact</a></li> 
    </ul>
  </div> -->
  <h1>Sound Farm</h1>
</div>