<div class="page lazy" id="page-1" data-large="/public/images/landscape/red_dawn_1098.png">

  <div class="divider" id="studio">
    <h1>Welcome</h1>
  </div>
  <div class="content" id="page-1-content">
    <p>
      My name is John Beene. This site is built to show off a simple parallax structure. 
      The effect is mostly CSS implemented with Sass with JS and JQuery for the transition effects.
      If you're visiting on a mobile device, the skrollr library is used to achieve the parallax effect. 
      You can check out the source here: https://github.com/beenetown/parallax. You can contact me via email
      at john.r.beene@gmail.com.
    </p>

    <p>
      All the rest of the pages are just filler to show off the effect and some nice
      photagraphy courtesy of <a href="http://littlevisuals.co/">littlevisuals.co</a>.
      Thanks for checking it out!
    </p>
  </div>
  <div class="mobile-img" id="studio-mobile-img"><img></div>
</div>