<div class="page 2" id="studio-page">
  <div class="divider" id="studio">
    <h1>Studio</h1>
  </div>
  <div class="content" id="studio-content">
    <div class="content-background">
        <p>
          The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes a single faulty enzyme in protein metabolism. The animals can't manufacture the amino acid lysine. Unless they're continually supplied with lysine by us, they'll slip into a coma and die.
        </p>
    </div>
  </div>

  <div class="section" id="recording-section">
    <div class="sub-divider" id="mixing">
      <h2>Recording</h2>
    </div>
    <div class="content" id="mixing-content">
      <div class="content-background">
        <p>
          Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
        </p>
      </div>
    </div>
  </div

  <div class="section" id="mixing-section">
    <div class="sub-divider" id="mixing">
      <h2>Mixing</h2>
    </div>
    <div class="content" id="mixing-content">
      <div class="content-background">
        <p>
          Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
        </p>
      </div>
    </div>
  </div>
</div>