<div class="page lazy" id="studio-page" data-large="/public/images/large/desk_1920.png" data-small="/public/images/small/desk_960.png">
  <div class="divider" id="studio">
    <h1>Studio</h1>
  </div>
  <div class="wrapper">
    <div class="row">
      <div class='col-1'>  
        <div class="sub-divider">
          <h2 class="hidden">""</h2>
        </div>
        <div class="content-background">
          <div class="content" id="gear-content">
            <p>
              Like you, I used to think the world was this great place where everybody lived by the same standards I did, then some kid with a nail showed me I was living in his world, a world where chaos rules not order, a world where righteousness is not rewarded. That's Cesar's world, and if you're not willing to play by his rules, then you're gonna have to pay the price.
            </p>
          </div> 
        </div>
      </div>
    </div> 
  </div>

  <div class="wrapper">
    <div class="row">
      <div class="col-3" id="recording-section">
        <div class="sub-divider">
          <h2>Recording</h2>
        </div>
        <div class="content" id="recording-content">
          <div class="content-background">
            <p>
              Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
            </p>  
          </div>
        </div>
      </div>
  
      <div class="col-3" id="mixing-section">
        <div class="sub-divider">
          <h2>Mixing</h2>
        </div>
        <div class="content" id="mixing-content">
          <div class="content-background">
            <p>
              Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.
            </p>      
          </div>
        </div>
      </div>
  
      <div class="col-3" id="mastering-section">
        <div class="sub-divider">
          <h2>Mastering</h2>
        </div>
        <div class="content" id="mastering-content">
          <div class="content-background">
              <p>
                The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes a single faulty enzyme in protein metabolism. The animals can't manufacture the amino acid lysine. Unless they're continually supplied with lysine by us, they'll slip into a coma and die.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-img" id="studio-mobile-img"><img></div>
</div>