@media only screen and (min-width: 100px) and (max-device-width: 700px) and (orientation: landscape) {
  html, body {
  height: 100%;
  // overflow: hidden;
    -webkit-overflow-scrolling: touch; 
  }

  #show-navbar {
    display: none;
    z-index: 10002;
    position: fixed;
    background-color: #FFEC6C;
    padding: 2px;
    top: 10px;
    right: 10px;
    width:10%;
    // display: inline;
    img {
      width: 100%;
    }
  }
  .navbar {
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: url(../images/patterns/semi_transparent_black_80.png);
    .nav{
      margin-top: 10px;
    }
    ul {
      list-style: none;
      text-align: center;
    }

    .nav-li {
      font-size: 3.5em;
      display: inline-block;
      margin: 2px 3% 0 0;
      padding: 1px;
      text-align: center;
      cursor: pointer;
      border-bottom: 3px solid $mediumGray;
      a {
        margin: 2px 1px 0 0;
        color: $mediumGray;
        text-decoration: none;
        display: block;
      }
    }

    .active {
      border-bottom: 3px solid $highlight;
      a {
        color: $lightGray;
        text-shadow: $mediumGray 1px 1px 0px;
      }
    }
  }

  .page {
    width: 100%;
    // height: 200%;
  }

  .section {
    vertical-align: top;
    display: inline-block;
  }

  .col-1, .col-2, .col-3 {
    width: 96%;
    margin: 0 0 2% 2%;
    padding: 20px;
    background: url(../images/patterns/semi_transparent_80.png);
  }

  .content {
    // height: 50%;
    font-size: 3em;
    text-align: justify;
    color: $darkGray;
    width: 100%;
    margin: 0 auto;
  }

  .divider {
    color: $lightGray;
    background: url(../images/patterns/semi_transparent_black_80.png);
    font-size: 7em;
    text-align: center;
    text-shadow: $mediumGray 1px 1px 0px;
  }

  .sub-divider {
    color: $darkGray;
    font-size: 5em;
    text-align: center;
    text-shadow: $lightGray 1px 1px 0px;
    margin: 5px 0 -12px 0;
  }

  #show-gear-list {
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
  }

  #gear-list {
    display: none;
    h1, h2 {
      text-align: center;
    }

    h1 {font-size: 7em;}
    h2 {
      font-size: 5em;
      cursor: pointer;
    }
  }

  .gear-category {
    margin-bottom: 5px;
    ul {
      // width: 40%;
      margin: 0;
      text-align: center;
      font-size: 3em;
      display: none;
      list-style: none;
      li {
        padding: 1px 0 1px 0;
      }
    }
  }

  .close {
    margin: 0px 5px 0 0;
    font-size: 2em;
    float: right;
    color: $darkGray;
  } 

  #home {
    height: 100%;
    color: $lightGray;
    text-shadow: $mediumGray 1px 1px 0px;
    background: url(../images/landscape/home_landscape.png) no-repeat; 
    @include backgroundSize;
    h1 { 
      text-align: center;
      font-size: 20em;
      padding: 5%;
      line-height: 0.9em;
      letter-spacing: -10px;
    }
  }

  #studio-page {
    // height: 200%;
    // background: url(../images/landscape/desk_landscape.png) no-repeat; 
    background: url(../images/patterns/semi_transparent_black_80.png);
    @include backgroundSize;
  }
  #studio-mobile-img {
    width: 100%;
    content: url(../images/landscape/desk_landscape.png) no-repeat; 
    @include backgroundSize;
  }

  #gear-page {
    // height: 100%;
    // background: url(../images/landscape/mics_landscape.png) no-repeat; 
    background: url(../images/patterns/semi_transparent_black_80.png);
    @include backgroundSize;
  }

  #gear-mobile-img {
    width: 100%;
    content: url(../images/landscape/mics_landscape.png) no-repeat; 
    @include backgroundSize;
  }

  #live-page {
    // height: 190%;
    // background: url(../images/landscape/acoustic_landscape.png) no-repeat; 
    background: url(../images/patterns/semi_transparent_black_80.png);
    @include backgroundSize;
  }

  #live-mobile-img {
    width: 100%;
    content: url(../images/landscape/acoustic_landscape.png) no-repeat; 
    @include backgroundSize; 
  }

  #about-page {
    // height: 100%;
    // background: url(../images/landscape/drums_landscape.png) no-repeat; 
    background: url(../images/patterns/semi_transparent_black_80.png);
    @include backgroundSize;
  }

  #about-mobile-img {
    width: 100%;
    content: url(../images/landscape/drums_landscape.png) no-repeat; 
    @include backgroundSize;
  }

  #contact-page {
    // height: 100%;
    // background: url(../images/landscape/speakers_landscape.png) no-repeat; 
    background: url(../images/patterns/semi_transparent_black_80.png);
    @include backgroundSize;
  }


  #contact-mobile-img {
    width: 100%;
    content: url(../images/landscape/speakers_landscape.png) no-repeat; 
    @include backgroundSize;
  }
}